<form [formGroup]="form" (ngSubmit)="ChangePassword()">
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="currentPassword">Senha atual</label>
        <input type="text" id="currentPassword" formControlName="currentPassword">
        <app-control-error [control]="form.controls.currentPassword"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="newPassword">Nova senha</label>
        <input type="newPassword" id="newPassword" formControlName="newPassword">
        <app-control-error [control]="form.controls.newPassword"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="confirmPassword">Confirmar nova senha</label>
        <input type="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
        <app-control-error [control]="form.controls.confirmPassword"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-auto">
      <app-button
        buttonType="submit"
        buttonClass="btn-dark"
        [buttonDisabled]="form.valid === false || formLoading === true"
        [buttonLoading]="cpFormLoading">
        Salvar
      </app-button>
    </div>
  </div>

</form>
