<form [formGroup]="form" (ngSubmit)="ChangePassword()">
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="currentPassword">Senha atual</label> - {{formData.value.password}}
        <input type="password" id="currentPassword" formControlName="currentPassword">
        <app-control-error [control]="form.controls.currentPassword"></app-control-error>
        <div class="d-block invalid-feedback"
             *ngIf="form.value.currentPassword && formData.value.password != form.value.currentPassword">
          Senha incorreta
        </div>
        <div class="d-block valid-feedback" *ngIf="form.value.currentPassword  && formData.value.password == form.value.currentPassword">
          Senha correta
        </div>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="newPassword">Nova senha</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <app-control-error [control]="form.controls.newPassword"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="confirmPassword">Confirmar nova senha</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <app-control-error [control]="form.controls.confirmPassword"></app-control-error>
        <div class="d-block invalid-feedback"
             *ngIf="form.value.confirmPassword && form.value.newPassword != form.value.confirmPassword">
          Senha divergente
        </div>
        <div class="d-block valid-feedback"
             *ngIf="form.value.confirmPassword && form.value.newPassword == form.value.confirmPassword">
          Senha correta
        </div>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-auto">
      <app-button
        buttonType="submit"
        buttonClass="btn-dark"
        [buttonDisabled]="
            form.valid === false ||
            formLoading === true ||
            form.value.newPassword != form.value.confirmPassword ||
            formData.value.password === null ||
            formData.value.password != form.value.currentPassword"
        [buttonLoading]="cpFormLoading">
        Salvar
      </app-button>
    </div>
  </div>

</form>
