<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-control-field>
    <label for="cpf">CPF</label>
    <input type="tel" id="cpf" formControlName="cpf" mask="000.000.000-00">
    <app-control-error [control]="form.controls.cpf"></app-control-error>
  </app-control-field>
  <app-button
    buttonType="submit"
    buttonClass="btn-block btn-dark"
    [buttonDisabled]="form.valid === false || formLoading === true"
    [buttonLoading]="formLoading">
    Redefinir senha
  </app-button>
</form>