<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-control-field>
    <label for="title">Título do questionário</label>
    <input type="text" id="title" formControlName="title">
    <app-control-error [control]="form.controls.title"></app-control-error>
  </app-control-field>
  <p class="text-danger">
    [Aguardando a API para ver a melhor forma de construir]
  </p>
  <app-button
    buttonType="submit"
    buttonClass="btn-dark"
    [buttonDisabled]="form.valid === false || formLoading === true"
    [buttonLoading]="formLoading">
    Adicionar
  </app-button>
</form>
