<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th sortable="title" (sort)="handleSort($event)">Vídeo</th>
        <th sortable="startDate" (sort)="handleSort($event)">Data</th>
        <th sortable="endDate" (sort)="handleSort($event)">Visualizações</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)">
          </app-control-checkbox>
        </td>
        <td>{{ item.title || '-' }}</td>
        <td>{{ item.startDate || '-' }}</td>
        <td>{{ item.endDate || '-' }}</td>
        <td>
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'blocked-' + item.id"
              [value]="item.id"
              [checked]="item.blocked === false"
              (click)="handleBlockUnblock($event)">
            <label
              [for]="'blocked-' + item.id"
              class="custom-control-label">
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
