<app-card class="mb-3">
  <div class="row">
    <div class="col-lg-3">
      <p class="mb-lg-0">
        <span class="view-label">Cadastro</span>
        <span class="d-block ">{{family.holder?.number || '-'}}</span>
      </p>
    </div>
    <div class="col-lg-3">
      <p class="mb-lg-0">
        <span class="view-label">Titular</span>
        <span class="d-block">{{family.holder?.name || '-'}}</span>
      </p>
    </div>
    <div class="col-lg-3">
      <p class="mb-lg-0">
        <span class="view-label">Cpf</span>
        <span class="d-block ">{{family.holder?.cpf || '-'  | mask: '000.000.000-99'}}</span>
      </p>
    </div>
    <div class="col-lg-3">
      <p class="mb-lg-0">
        <span class="view-label">Situação</span>
        <span class="d-block ">{{scheduleTypeList[typeSubjectCurrent]?.name || '-'}}</span>
      </p>
    </div>
  </div>
</app-card>

<h2 class="h5">Situação</h2>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item " *ngFor="let item of stage; let i = index" >
    <a  class="nav-link stage{{i}} {{item.stageSituation}} "
        (click)="tabSelected = item; activateClass($event)">
      {{scheduleTypeList[item?.typeSubject]?.name | uppercase}}
    </a>
  </li>
</ul>
<div class="progress" style="height: 20px;">
  <div class="progress-bar" role="progressbar" id="progBar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="0"></div>
</div>
<app-card class="mb-3">
  <div class="row">
    <div class="col-lg-auto">
      <p class="mb-lg-0">
        <span class="view-label">Data</span>
        <span class="d-block ">{{tabSelected?.date | date:'dd/MM/yyyy'}}</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p class="mb-lg-0">
        <span class="view-label">Hora</span>
        <span class="d-block ">10Hs</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p class="mb-lg-0">
        <span class="view-label">Assunto</span>
        <span class="d-block ">{{scheduleTypeList[tabSelected?.typeSubject]?.name}}</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p class="mb-0">
        <span class="view-label">Status</span>
        <span class="d-block ">{{timeLineStatusList[tabSelected?.typeScheduleStatus]?.name}}</span>
      </p>
    </div>
    <div class="col-lg-auto " *ngIf="tabSelected?.typeSubject == 7 && tabSelected?.stageSituation == 'active'">
      <button type="button" class="btn btn-outline-success"
              (click)="confirmChange(tabSelected)"> Confirmar mudança
      </button>
    </div>
  </div>
</app-card>

<app-card class="mb-3" *ngIf="tabSelected?.typeSubject == 7 && tabSelected?.typeSubject == 8 ">
  <app-schedules-list [list]="listSchedulesByFamily"></app-schedules-list>
</app-card>

<app-card class="mb-3" *ngIf="tabSelected?.typeSubject == 2 || tabSelected?.typeSubject == 7">
  <app-questionnaries-avaliable-list [list]="listQuizByFamily"></app-questionnaries-avaliable-list>
</app-card>

<app-card class="mb-3" *ngIf="tabSelected?.typeSubject == 4 ">
  <app-matchs-list [list]="listPropertiesInterest"></app-matchs-list>
</app-card>

<app-card class="mb-3">
  <app-courses-list [list]="listCourseByFamily"></app-courses-list>
</app-card>

<app-card class="mb-3">
  <app-polls-list [list]="listPollsByFamily"></app-polls-list>
</app-card>
