<header id="header" class="container-fluid">
  <div class="row">
    <div class="col">
      <img
        id="logo"
        src="assets/images/logo-moralar-white-horizontal.svg"
        alt="Moralar"
        title="Moralar">
    </div>
    <div class="col-auto">
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle
          type="button"
          class="btn btn-sm btn-outline-light">
          Menu
        </button>
        <div ngbDropdownMenu id="administrator-menu">          
          <button ngbDropdownItem
            type="button"
            class="btn btn-link"
            routerLink="administrador">
            <span class="administrator">Administrador</span>
            <span class="name">{{ user?.name }}</span>
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem
            type="button"
            class="btn btn-link"
            (click)="logOut()">
            Sair
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-auto col-full-height">
      <ul appNav>
        <li routerLinkActive="active">
          <button
            type="button"
            routerLink="dashboard">
            <fa-icon
              class="mr-2"
              [icon]="faTachometerAlt">
            </fa-icon>
            Dashboard
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="familias">
            <fa-icon
              class="mr-2"
              [icon]="faHouseUser">
            </fa-icon>
            Famílias
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="profissionais-tts">
            <fa-icon
              class="mr-2"
              [icon]="faUserTie">
            </fa-icon>
            Profissionais de TTS
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="gestores-publicos">
            <fa-icon
              class="mr-2"
              [icon]="faIdCard">
            </fa-icon>
            Gestores públicos
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="imoveis">
            <fa-icon
              class="mr-2"
              [icon]="faHome">
            </fa-icon>
            Imóveis
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="questionarios">
            <fa-icon
              class="mr-2"
              [icon]="faQuestionCircle">
            </fa-icon>
            Questionários
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="administradores">
            <fa-icon
              class="mr-2"
              [icon]="faIdCard">
            </fa-icon>
            Administradores
          </button>
        </li>
      </ul>
    </div>
    <div id="content" class="col col-full-height">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
