<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th sortable="number" (sort)="handleSort($event)">Número do cadastro</th>
        <th sortable="holderName" (sort)="handleSort($event)">Nome do morador titular</th>
        <th sortable="holderCpf" (sort)="handleSort($event)">CPF do morador titular</th>
        <th sortable="status" (sort)="handleSort($event)">Status da linha do tempo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'select-' + item.id"
              [checked]="isChecked(item)"
              (change)="listItemSelected.emit(item)">
            <label
              class="custom-control-label"
              [for]="'select-' + item.id">
            </label>
          </div>
        </td>
        <td>{{ item.number || '-' }}</td>
        <td>{{ item.holderName || '-' }}</td>
        <td>{{ item.holderCpf || '-' }}</td>
        <td>{{ timelineStatusToString(item.status) }}</td>
      </tr>
    </tbody>
  </table>
</div>