<h2 class="h5">Morador</h2>
<div class="row">
  <div class="col-lg-6">
    <p>
      <span class="view-label">Número do cadastro</span>
      <span class="d-block text-danger">[PENDENTE] API</span>
    </p>
    <div class="row">
      <div class="col-lg-6">
        <p>
          <span class="view-label">Nome do morador titular</span>
          <span class="d-block text-danger">[PENDENTE] API</span>
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <span class="view-label">CPF do morador titular</span>
          <span class="d-block text-danger">[PENDENTE] API</span>
        </p>
      </div>
    </div>
  </div>
</div>
<h2 class="h5">Agendamento</h2>
<p>
  <span class="view-label">Data e horário</span>
  <span class="d-block text-danger">[PENDENTE] API</span>
</p>
<p>
  <span class="view-label">Assunto</span>
  <span class="d-block text-danger">[PENDENTE] API</span>
</p>
<p>
  <span class="view-label">Local</span>
  <span class="d-block text-danger">[PENDENTE] API</span>
</p>
<p>
  <span class="view-label">Descrição</span>
  <span class="d-block text-danger">[PENDENTE] API</span>
</p>
<p>
  <span class="view-label">Status</span>
  <span class="d-block text-danger">[PENDENTE] API</span>
</p>
<button
  type="button"
  class="btn btn-dark"
  (click)="reschedule.emit()">
  Reagendar
</button>
