<app-card>
  <h2 class="h5">Morador</h2>
  <div class="row">
    <div class="col-lg-2">
      <p>
        <span class="view-label">Cadastro</span>
        <span class="d-block ">{{schedule.holderNumber || '-'}}</span>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <span class="view-label">Titular</span>
        <span class="d-block ">{{schedule.holderName || '-'}}</span>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <span class="view-label">CPF</span>
        <span class="d-block ">{{schedule.holderCpf || '-'  | mask: '000.000.000-99'}}</span>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <span class="view-label">Status</span>
        <span class="d-block text-info">{{scheduleStatusList[schedule.typeScheduleStatus].name || '-'}}</span>
      </p>
    </div>
  </div>
</app-card><br>
<app-card>
  <h2 class="h5">Agendamento</h2>
  <p>
    <span class="view-label">Data e horário</span>
    <span class="d-block ">{{data || '-' | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
  </p>
  <p>
    <span class="view-label">Assunto</span>
    <span class="d-block ">{{scheduleTypeList[schedule.typeSubject].name || '-'}}</span>
  </p>
  <p>
    <span class="view-label">Local</span>
    <span class="d-block ">{{schedule.place || '-'}}</span>
  </p>
  <p>
    <span class="view-label">Descrição</span>
    <span class="d-block ">{{schedule.description || '-'}}</span>
  </p>

  <div [ngSwitch]="schedule.typeScheduleStatus < 3">
    <div *ngSwitchCase="true">
      <button
        type="button"
        class="btn btn-dark"
        (click)="reschedule.emit()">
        Reagendar
      </button>
    </div>

    <div *ngSwitchCase="false">
      <div class="row">
        <div class="col-lg-4">
          <button
            type="button"
            class="btn btn-dark"
            (click)="reschedule.emit()">
            Agendar nova reunião
          </button>
        </div>
        <div class="col-lg-4">
          <button
            type="button"
            class="btn btn-dark"
            (click)="reschedule.emit()">
            Liberar escolha de imóvel
          </button>
        </div>
      </div>
    </div>
  </div>

</app-card>

