<h1 class="h4">Dashboard</h1>
<app-card>
  <div class="row">
    <div class="col-lg-6">
      <p>
        <span class="view-label">Famílias de moradores</span>
        <span class="d-block text-danger">[Pendente API]</span>
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="view-label">Profissionais da equipe de Trabalho Técnico Social</span>
        <span class="d-block text-danger">[Pendente API]</span>
      </p>
    </div>
    <div class="col-lg-6">
      <p class="mb-lg-0">
        <span class="view-label">Gestores públicos</span>
        <span class="d-block text-danger">[Pendente API]</span>
      </p>
    </div>
    <div class="col-lg-6">
      <p class="mb-0">
        <span class="view-label">Imóveis</span>
        <span class="d-block text-danger">[Pendente API]</span>
      </p>
    </div>
  </div>
</app-card>
