<h1 class="h4">Dashboard</h1>
<div class="row">
  <div class="col-lg-6">
    <app-card class="mb-3">
      <h2 class="h5">Famílias de moradores</h2>
      <p class="mb-0">
        <span class="view-label">Total</span>
        <span class="d-block">{{dashboardAdmin.registeredFamilies}}</span>
      </p>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card class="mb-3">
      <h2 class="h5">Profissionais de TTS</h2>
      <p class="mb-0">
        <span class="view-label">Total</span>
        <span class="d-block">{{dashboardAdmin.registeredTTS}}</span>
      </p>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card class="mb-3">
      <h2 class="h5">Gestores públicos</h2>
      <p class="mb-0">
        <span class="view-label">Total</span>
        <span class="d-block ">{{dashboardAdmin.registeredManagers}}</span>
      </p>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card>
      <h2 class="h5">Imóveis</h2>
      <p class="mb-0">
        <span class="view-label">Total</span>
        <span class="d-block ">{{dashboardAdmin.registeredResidencialProperty}}</span>
      </p>
    </app-card>
  </div>
</div>
