<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th></th>
        <th sortable="number" (sort)="handleSort($event)">Número do cadastro</th>
        <th sortable="holderName" (sort)="handleSort($event)">Nome do titular</th>
        <th sortable="holderCpf" (sort)="handleSort($event)">CPF do titular</th>
        <th sortable="email" (sort)="handleSort($event)">E-mail</th>
        <th sortable="phone" (sort)="handleSort($event)">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)">
          </app-control-checkbox>
        </td>
        <td>{{ item.number || '-' }}</td>
        <td>{{ item.name || '-' }}</td>
        <td>{{ item.cpf || '-' | mask: '000.000.000-99'}}</td>
        <td>{{ item.email || '-' }}</td>
        <td>{{ item.phone || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>

