<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="number">Número do cadastro</label>
        <input type="tel" id="number" formControlName="number">
        <app-control-error [control]="form.controls.number"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="holderName">Nome do títular</label>
        <input type="text" id="holderName" formControlName="holderName">
        <app-control-error [control]="form.controls.holderName"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="holderCpf">CPF do titular</label>
        <input type="tel" id="holderCpf" formControlName="holderCpf">
        <app-control-error [control]="form.controls.holderCpf"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="birthdate">Data de nascimento</label>
        <input type="date" id="birthdate" formControlName="birthdate">
        <app-control-error [control]="form.controls.birthdate"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label>Gênero</label>
        <select id="gender" formControlName="gender">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let gender of genderList"
            [ngValue]="gender.id">
            {{ gender.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.gender"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="email">E-mail</label>
        <input type="text" id="email" formControlName="email">
        <app-control-error [control]="form.controls.email"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="phone">Telefone</label>
        <input type="tel" id="phone" formControlName="phone">
        <app-control-tip [control]="form.controls.phone">
          Informe o código do país, DDD e número de telefone. Exemplo: 5511988294456
        </app-control-tip>
        <app-control-error [control]="form.controls.phone"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="schooling">Escolaridade</label>
        <select id="schooling" formControlName="schooling">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let schooling of schoolingList" [ngValue]="schooling.id">
            {{ schooling.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.schooling"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <h2 class="h5">Dados do cônjuge</h2>
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="spouseName">Nome</label>
        <input type="text" id="spouseName" formControlName="spouseName">
        <app-control-error [control]="form.controls.spouseName"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="spouseBirthdate">Data de nascimento</label>
        <input type="date" id="spouseBirthdate" formControlName="spouseBirthdate">
        <app-control-error [control]="form.controls.spouseBirthdate"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label>Gênero</label>
        <select id="spouseGender" formControlName="spouseGender">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let gender of genderList"
            [ngValue]="gender.id">
            {{ gender.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.spouseGender"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="spouseSchooling">Escolaridade</label>
        <select id="spouseSchooling" formControlName="spouseSchooling">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let schooling of schoolingList" [ngValue]="schooling.id">
            {{ schooling.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.spouseSchooling"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <h2 class="h5">Dados dos membros da família</h2>
  <ng-container [ngSwitch]="membersForm.controls.length === 0">
    <app-card *ngSwitchCase="true" class="mb-3">
      Nenhum membro da família adicionado.
    </app-card>
    <div *ngSwitchCase="false" class="row">
      <div *ngFor="let memberForm of membersForm.controls; let i = index"
        formArrayName="members"
        class="col-lg-6">
        <app-card [formGroupName]="i" class="mb-3">
          <app-control-field>
            <label for="memberName-{{i}}">Nome</label>
            <input type="text" id="memberName-{{i}}" formControlName="name">
            <app-control-error [control]="memberForm.get('name')"></app-control-error>
          </app-control-field>
          <app-control-field>
            <label for="memberBirthdate-{{i}}">Data de nascimento</label>
            <input type="date" id="memberBirthdate-{{i}}" formControlName="birthdate">
            <app-control-error [control]="memberForm.get('birthdate')"></app-control-error>
          </app-control-field>
          <app-control-field>
            <label>Gênero</label>
            <div class="row align-items-center">
              <div *ngFor="let gender of genderList" class="col-auto">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <app-control-radio
                      [value]="gender.id"
                      formControlName="gender">
                    </app-control-radio>
                  </div>
                  <div class="col-auto">
                    <label class="mb-0">{{ gender.name }}</label>
                  </div>
                </div>
              </div>
            </div>
            <app-control-error [control]="memberForm.get('gender')"></app-control-error>
          </app-control-field>
          <app-control-field>
            <label for="memberDegreeOfKinship-{{i}}">Grau de parentesco</label>
            <select id="memberDegreeOfKinship-{{i}}" formControlName="degreeOfKinship">
              <option [ngValue]="null">Selecione uma opção</option>
              <option *ngFor="let degreeOfKinship of degreeOfKinshipList" [ngValue]="degreeOfKinship.id">
                {{ degreeOfKinship.name }}
              </option>
            </select>
            <app-control-error [control]="memberForm.get('schooling')"></app-control-error>
          </app-control-field>
          <app-control-field>
            <label for="memberSchooling-{{i}}">Escolaridade</label>
            <select id="memberSchooling-{{i}}" formControlName="schooling">
              <option [ngValue]="null">Selecione uma opção</option>
              <option *ngFor="let schooling of schoolingList" [ngValue]="schooling.id">
                {{ schooling.name }}
              </option>
            </select>
            <app-control-error [control]="memberForm.get('schooling')"></app-control-error>
          </app-control-field>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeMemberForm(i)">
            Remover membro da família
          </button>
        </app-card>
      </div>
    </div>
  </ng-container>
  <button
    type="button"
    class="btn btn-outline-dark mb-3"
    (click)="addMemberForm()">
    Adicionar membro da família
  </button>
  <h2 class="h5">Dados financeiros</h2>
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="familyIncome">Rendar familiar</label>
        <input currencyMask type="tel" id="familyIncome" formControlName="familyIncome">
        <app-control-error [control]="form.controls.familyIncome"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="propertyCurrentValue">Valor da avaliação do imóvel a ser demolido</label>
        <input currencyMask type="tel" id="propertyCurrentValue" formControlName="propertyCurrentValue">
        <app-control-error [control]="form.controls.propertyCurrentValue"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="propertyBuyValue">Valor máximo para compra do imóvel</label>
        <input currencyMask type="tel" id="propertyBuyValue" formControlName="propertyBuyValue">
        <app-control-error [control]="form.controls.propertyBuyValue"></app-control-error>
      </app-control-field>
      <app-control-field>
        <label for="propertyIncrementValue">Valor de incremento</label>
        <input currencyMask type="tel" id="propertyIncrementValue" formControlName="propertyIncrementValue">
        <app-control-error [control]="form.controls.propertyIncrementValue"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <app-card class="mb-3">
    <p class="mb-0">
      <span class="view-label">Faixa de liberação do imóvel</span>
      {{ ((form.controls.propertyCurrentValue.value || 0) + (form.controls.propertyIncrementValue.value) || 0) | currency: 'BRL' }}
    </p>
  </app-card>
  <h2 class="h5">Critérios de priorização</h2>
  <p class="text-danger">[Aguardando a API para ver a melhor forma de construir]</p>
  <app-button
    buttonType="submit"
    buttonClass="btn-dark"
    [buttonDisabled]="form.valid === false || formLoading === true"
    [buttonLoading]="formLoading">
    Adicionar
  </app-button>
</form>
<br>
<pre>{{ form.value | json }}</pre>
