<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th sortable="createdDate" (sort)="handleSort($event)">Data da Publicação</th>
        <th sortable="image" (sort)="handleSort($event)">Imagem</th>
        <th sortable="description" (sort)="handleSort($event)">Descrição</th>
        <th sortable="date" (sort)="handleSort($event)">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.datePublish || '-' }}</td>
        <td>{{ item.image || '-' }}</td>
        <td>{{ item.description || '-' }}</td>
        <td>{{ item.created | date: 'dd/MM/yyyy' || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
