<h1 class="h4">Lista de Notificações<span class="d-block text-danger">[Equipe TTS]</span></h1>
<!--<div class="form-row my-3">
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="adicionar">
      Adicionar
    </button>
  </div>
</div>-->
<div class="col-auto">
  <button
    type="button"
    class="btn btn-outline-dark"
    [disabled]="listSelected.length !== 1"
    (click)="handleDetails()">
    Detalhes
  </button>
</div>
<app-notification-list-search
  [listSearchData]="formDataModel.search"
  (listSearchChange)="handleListSearchChange($event)">
</app-notification-list-search>
<app-notification-list
  [list]="list"
  (listSearchChange)="handleListSearchChange($event)"
  (listOrderChange)="handleListOrderChange($event)"
  (listItemSelected)="handleListItemSelected($event)"
>
</app-notification-list>
<app-list-pagination
  [page]="formDataModel.page"
  [pageSize]="formDataModel.pageSize"
  [listSize]="listSize"
  [listSizeFiltered]="listSizeFiltered"
  (pageChange)="handleListPageChange($event)">
</app-list-pagination>
