<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Código do imóvel</th>
        <th>Tipo de imóvel</th>
        <th>Metragem quadrada</th>
        <th>Endereço</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)">
          </app-control-checkbox>
        </td>
        <td>{{ item.code || '-' }}</td>
        <td>{{ propertytypelist[item.residencialPropertyFeatures.typeProperty]?.name || '-' }}</td>
        <td>{{ item.residencialPropertyFeatures.squareFootage || '-' }}</td>
        <td>
          {{
            item.residencialPropertyAdress.streetAddress+ ' '+
            item.residencialPropertyAdress.number+ ', '+
            item.residencialPropertyAdress.cityName+ ' '+
            item.residencialPropertyAdress.stateUf
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
