<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="code">Código do imóvel</label>
        <input type="text" id="code" formControlName="code">
        <app-control-error [control]="form.controls.code"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <app-address-form
    [form]="form">
  </app-address-form>
  <h2 class="h5">Fotos</h2>
  <ng-container [ngSwitch]="photosForm.controls.length === 0">
    <app-card *ngSwitchCase="true" class="mb-3">
      Nenhuma foto adicionada.
    </app-card>
    <div *ngSwitchCase="false" class="row">
      <div *ngFor="let photoFormControl of photosForm.controls; let i = index"
        formArrayName="photos"
        class="col-lg-3 mb-3">
        <app-card>
          <app-image-upload
            [changeDetectorRef]="changeDetectorRef"
            [imageUploadAbstractControl]="photoFormControl">
          </app-image-upload>
          <button
            type="button"
            class="btn btn-block btn-danger"
            (click)="removePhotoFormControl(i)">
            Remover foto
          </button>
        </app-card>
      </div>
    </div>
  </ng-container>
  <button
    type="button"
    class="btn btn-outline-dark mb-3"
    [disabled]="canAddPhotoFormControl() === false"
    (click)="addPhotoFormControl()">
    Adicionar foto
  </button>
  <h2 class="h5">Planta</h2>
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <app-image-upload
          [changeDetectorRef]="changeDetectorRef"
          [imageUploadAbstractControl]="form.controls.plan">
        </app-image-upload>
        <app-control-error [control]="form.controls.plan"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <h2 class="h5">Características</h2>
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="value">Valor do imóvel</label>
        <input currencyMask type="text" id="value" formControlName="value">
        <app-control-error [control]="form.controls.value"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="type">Tipo do imóvel</label>
        <select id="type" formControlName="type">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let propertyType of propertyTypeList"
            [ngValue]="propertyType.id">
            {{ propertyType.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.type"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="squareFootage">Metragem quadrada</label>
        <input type="number" id="squareFootage" formControlName="squareFootage">
        <app-control-error [control]="form.controls.squareFootage"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="condominiumValue">Valor do condomínio</label>
        <input currencyMask type="text" id="condominiumValue" formControlName="condominiumValue">
        <app-control-error [control]="form.controls.condominiumValue"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="iptuValue">Valor do IPTU</label>
        <input currencyMask type="text" id="iptuValue" formControlName="iptuValue">
        <app-control-error [control]="form.controls.iptuValue"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="neighborhoodLocation">Bairro de localização</label>
        <input type="text" id="neighborhoodLocation" formControlName="neighborhoodLocation">
        <app-control-error [control]="form.controls.neighborhoodLocation"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="numberOfFloors">Número de pavimentos</label>
        <select id="numberOfFloors" formControlName="numberOfFloors">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let numberOfFloor of propertyNumberOfFloorsList; let i = index"
            [ngValue]="i">
            {{ i }}
          </option>
        </select>
        <app-control-error [control]="form.controls.numberOfFloors"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="locationFloor">Andar de localização</label>
        <select id="locationFloor" formControlName="locationFloor">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let propertyLocationFloor of propertyLocationFloorList; let i = index"
            [ngValue]="i">
            {{ i }}
          </option>
        </select>
        <app-control-error [control]="form.controls.locationFloor"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="elevator">Elevador</label>
        <select id="elevator" formControlName="elevator">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.elevator"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="numberOfBedrooms">Número de quartos</label>
        <input type="number" id="numberOfBedrooms" formControlName="numberOfBedrooms">
        <app-control-error [control]="form.controls.numberOfBedrooms"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="numberOfBathrooms">Número de banheiros</label>
        <input type="number" id="numberOfBathrooms" formControlName="numberOfBathrooms">
        <app-control-error [control]="form.controls.numberOfBathrooms"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="serviceArea">Área de serviço</label>
        <select id="serviceArea" formControlName="serviceArea">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.serviceArea"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="garage">Garagem</label>
        <select id="garage" formControlName="garage">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.garage"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="backyard">Quintal</label>
        <select id="backyard" formControlName="backyard">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.backyard"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="cistern">Cisterna</label>
        <select id="cistern" formControlName="cistern">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.cistern"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="walled">Murada</label>
        <select id="walled" formControlName="walled">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.walled"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="escapesAccess">Escapa de acesso</label>
        <select id="escapesAccess" formControlName="escapesAccess">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.escapesAccess"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="accessRamp">Rampa de acesso</label>
        <select id="accessRamp" formControlName="accessRamp">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.accessRamp"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="adaptedAllowsAdaptationPcd">Adaptada ou permite adaptação para PCD</label>
        <select id="adaptedAllowsAdaptationPcd" formControlName="adaptedAllowsAdaptationPcd">
          <option [ngValue]="null">Selecione uma opção</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
        <app-control-error [control]="form.controls.adaptedAllowsAdaptationPcd"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="propertyRegularization">Regularização do imóvel</label>
        <select id="propertyRegularization" formControlName="propertyRegularization">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let propertyRegularization of propertyRegularizationList"
            [ngValue]="true">
            {{ propertyRegularization.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.propertyRegularization"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="typeGasInstallation">Tipo de instalação de gás</label>
        <select id="typeGasInstallation" formControlName="typeGasInstallation">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let propertyGasInstallation of propertyGasInstallationList"
            [ngValue]="true">
            {{ propertyGasInstallation.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.typeGasInstallation"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <app-button
    buttonType="submit"
    buttonClass="btn-dark"
    [buttonDisabled]="form.valid === false || formLoading === true"
    [buttonLoading]="formLoading">
    Adicionar
  </app-button>
</form>
<br>
<pre>{{ form.value | json }}</pre>
