<form [formGroup]="form" (ngSubmit)="handleSubmit()">

  <app-card>
    <div class="row">
      <div class="col-lg-12">
        <app-family-list-search
          [listSearchData]="formDataModel.search"
          (listSearchChange)="getFamily($event)">
        </app-family-list-search>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-control-field>
          <label for="familyId">Morador</label>
          <select id="familyId" formControlName="familyId">
            <option [ngValue]="null">Selecione uma opção</option>
            <option *ngFor="let item of list"
                    [ngValue]="item.id">
              Nº {{ item.number || '-' }} | {{item.name || '-'}} | {{  item.cpf || '-' | mask: '000.000.000-99'}} | {{item.blocked ? 'Desativado' : 'Ativo'}}
            </option>
          </select>
          <app-control-error [control]="form.controls.familyId"></app-control-error>
        </app-control-field>
      </div>

    </div>
    <div class="row">
        <div class="col-12">
          Enviar para todas as famílias
        </div>
        <div class="col-auto">
          <app-control-radio formControlName="allFamily" value="true" id="allFamily-yes"></app-control-radio>
        </div>
        <div class="col-auto">
          <label class="mb-0" for="allFamily-yes">SIM</label>
        </div>
        <div class="col-auto">
          <app-control-radio formControlName="allFamily" value="false" id="allFamily-no"></app-control-radio>
        </div>
        <div class="col-auto">
          <label class="mb-0" for="allFamily-no">NÃO</label>
        </div>
    </div>

    <h2 class="h5">Imagem </h2>
    <div class="row">
      <div class="col-lg-6 text-center">
        <app-control-field>
          <app-image-upload
            [changeDetectorRef]="changeDetectorRef"
            [imageUploadAbstractControl]="form.controls.image">
          </app-image-upload>
          <app-control-error [control]="form.controls.image"></app-control-error>
        </app-control-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-control-field>
          <label for="description">Título</label>
          <input type="text" id="title" formControlName="title">
          <app-control-error [control]="form.controls.title"></app-control-error>
        </app-control-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-control-field>
          <label for="description">Conteúdo</label>
          <textarea id="description" formControlName="description"></textarea>
          <app-control-error [control]="form.controls.description"></app-control-error>
        </app-control-field>
      </div>
    </div>
  </app-card>
  <br>
  <app-button
    buttonType="submit"
    buttonClass="btn-dark"
    [buttonDisabled]="form.valid === false || formLoading === true"
    [buttonLoading]="formLoading">
    Enviar
  </app-button>
</form>
