<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th sortable="title" (sort)="handleSort($event)">Título</th>
        <th sortable="startDate" (sort)="handleSort($event)">Data de início</th>
        <th sortable="endDate" (sort)="handleSort($event)">Data de término</th>
        <th sortable="numberOfVacancies" (sort)="handleSort($event)">Vagas</th>
        <th sortable="place" (sort)="handleSort($event)">Inscritos</th>
        <th sortable="workLoad" (sort)="handleSort($event)">Espera</th>
        <!-- <th>Situação</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)">
          </app-control-checkbox>
        </td>
        <td>{{ item.title || '-' }}</td>
        <td>{{ item.startDate || '-' | date:'dd/MM/yyyy'}}</td>
        <td>{{ item.endDate || '-' | date:'dd/MM/yyyy'}}</td>
        <td>{{ item.numberOfVacancies || '-' }}</td>
        <td>{{ item.place || '-' }}</td>
        <td>{{ item.workLoad || '-' }}</td>
        <!-- <td>
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'blocked-' + item.id"
              [value]="item.id"
              [checked]="item.blocked === false"
              (click)="handleBlockUnblock($event)">
            <label
              [for]="'blocked-' + item.id"
              class="custom-control-label">
            </label>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
