<app-card>
  <h2 class="h5">Morador</h2>
  <div class="row">
    <div class="col-lg-auto">
      <p>
        <span class="view-label">Cadastro</span>
        <span class="d-block ">{{release.family.holder.number || '-'}}</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p>
        <span class="view-label">Titular</span>
        <span class="d-block ">{{release.family.holder.name || '-'}}</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p>
        <span class="view-label">CPF</span>
        <span class="d-block ">{{release.family.holder.cpf || '-'  | mask: '000.000.000-99'}}</span>
      </p>
    </div>
  </div>
</app-card><br>


<div class="row">
  <div class="col-lg-12">
    <h2 class="h4">{{release.quiz.title}}</h2>
  </div>
</div>
<app-card class="mb-3">
  <div class="row" *ngFor="let quest of release.quiz.questionViewModel">
    <div class="col-lg-12">
      <h2 class="h5">{{quest.nameQuestion}}</h2>
    </div>
    <div class="col-lg-12">
      <h2 class="h5 text-danger">R: A</h2>
    </div>
    <div class="col-lg-12" *ngFor="let options of quest.description">
      <p><span class="view-label">{{options.description}}</span></p>
    </div>
  </div>
</app-card>
