<header id="header" class="container-fluid">
  <div class="row">
    <div class="col">
      <img
        id="logo"
        src="assets/images/logo-moralar-white-horizontal.svg"
        alt="Moralar"
        title="Moralar">
    </div>
    <div class="col-auto">
      <div ngbDropdown class="d-inline-block">
        <fa-icon ngbDropdownToggle class="mr-2 text-light" [icon]="faBell"></fa-icon>
        <div ngbDropdownMenu id="notification" style="width: 100%">
            <app-notifications-list ></app-notifications-list>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle
                type="button"
                class="btn btn-sm btn-outline-light">
          Menu
        </button>
        <div ngbDropdownMenu id="administrator-menu">
          <button ngbDropdownItem
                  type="button"
                  class="btn btn-link"
                  routerLink="administrador">
            <span class="administrator">Gestor</span>
            <span class="name">{{ user?.name }}</span>
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem
                  type="button"
                  class="btn btn-link"
                  (click)="logOut()">
            Sair
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-auto col-full-height">
      <ul appNav>
        <li routerLinkActive="active">
          <button
            type="button"
            routerLink="dashboard">
            <fa-icon
              class="mr-2"
              [icon]="faTachometerAlt">
            </fa-icon>
            Dashboard
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="familias">
            <fa-icon
              class="mr-2"
              [icon]="faHouseUser">
            </fa-icon>
            Famílias
          </button>
          <ul>
            <li routerLinkActive="active">
              <button
                type="button"
                routerLink="familias/linhas-do-tempo">
                Linhas do tempo
              </button>
            </li>
          </ul>
        </li>
        <li>
          <button
            type="button"
            routerLink="agendamentos">
            <fa-icon
              class="mr-2"
              [icon]="faCalendarAlt">
            </fa-icon>
            Agendamentos
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="imoveis">
            <fa-icon
              class="mr-2"
              [icon]="faHome">
            </fa-icon>
            Imóveis
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="matchs">
            <fa-icon
              class="mr-2"
              [icon]="faStar">
            </fa-icon>
            Matchs
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="displacement-maps">
            <fa-icon
              class="mr-2"
              [icon]="faMap">
            </fa-icon>
            Mapas de descolacamento
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="videos">
            <fa-icon
              class="mr-2"
              [icon]="faVideo">
            </fa-icon>
            Vídeos
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="informativos">
            <fa-icon
              class="mr-2"
              [icon]="faBell">
            </fa-icon>
            Informativos
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="questionarios">
            <fa-icon
              class="mr-2"
              [icon]="faQuestionCircle">
            </fa-icon>
            Questionários
          </button>
          <ul>
            <li routerLinkActive="active">
              <button
                type="button"
                routerLink="questionarios/disponiveis">
                Disponíveis
              </button>
            </li>
          </ul>
        </li>
        <li>
          <button
            type="button"
            routerLink="enquetes">
            <fa-icon
              class="mr-2"
              [icon]="faQuestionCircle">
            </fa-icon>
            Enquetes
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="cursos">
            <fa-icon
              class="mr-2"
              [icon]="faBook">
            </fa-icon>
            Cursos
          </button>
        </li>
        <!-- <li>
          <button
            type="button"
            routerLink="profissionais-tts">
            <fa-icon
              class="mr-2"
              [icon]="faUserTie">
            </fa-icon>
            Profissionais de TTS
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="gestores-publicos">
            <fa-icon
              class="mr-2"
              [icon]="faIdCard">
            </fa-icon>
            Gestores públicos
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="imoveis">
            <fa-icon
              class="mr-2"
              [icon]="faHome">
            </fa-icon>
            Imóveis
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="questionarios">
            <fa-icon
              class="mr-2"
              [icon]="faQuestionCircle">
            </fa-icon>
            Questionários
          </button>
        </li>
        <li>
          <button
            type="button"
            routerLink="administradores">
            <fa-icon
              class="mr-2"
              [icon]="faIdCard">
            </fa-icon>
            Administradores
          </button>
        </li> -->
      </ul>
    </div>
    <div id="content" class="col col-full-height">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
