<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título do curso</th>
        <th>Data de início</th>
        <th>Data de término</th>
        <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.title || '-' }}</td>
        <td>{{ item.startDate || '-' | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.endDate || '-' | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.typeStatusCourse == 1 ? 'Inscrito' : 'Aguardando na lista de espera' || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
