<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="title">Título</label>
        <input type="text" id="title" formControlName="title">
        <app-control-error [control]="form.controls.title"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <h2 class="h5">Imagem do Curso </h2>
  <div class="row">
    <div class="col-lg-6 text-center">
      <app-control-field>
        <app-image-upload
          [changeDetectorRef]="changeDetectorRef"
          [imageUploadAbstractControl]="form.controls.img">
        </app-image-upload>
        <app-control-error [control]="form.controls.img"></app-control-error>
      </app-control-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="startDate">Data de Início</label>
        <input type="date" id="startDate" formControlName="startDate"
               [min]="dayMin" (blur)="checkDate($event.target.value)" >
        <app-control-error [control]="form.controls.startDate"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="endDate">Data de Término</label>
        <input type="date" id="endDate" formControlName="endDate"
               [min]="dayMin" (blur)="checkDate($event.target.value)">
        <app-control-error [control]="form.controls.endDate"></app-control-error>
        <div class="d-block invalid-feedback"
             *ngIf="form.value.endDate && form.value.startDate > form.value.endDate">
          Data de término menor que a data de ínicio
        </div>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="schedule">Hora de Início</label>
        <input type="time" id="schedule" formControlName="schedule">
        <app-control-error [control]="form.controls.schedule"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="workLoad">Carga Horária</label>
        <input type="text" id="workLoad" formControlName="workLoad">
        <app-control-error [control]="form.controls.workLoad"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="place">Local</label>
        <input type="text" id="place" formControlName="place">
        <app-control-error [control]="form.controls.place"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-control-field>
        <label for="description">Descrição</label>
        <input type="text" id="description" formControlName="description">
        <app-control-error [control]="form.controls.description"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <h2 class="h5">Público Alvo (faixa de valores)</h2>
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label for="startTargetAudienceAge">De</label>
        <select id="startTargetAudienceAge" formControlName="startTargetAudienceAge" (change)="checkIntervalPublicTarget()">
          <option  *ngFor='let list of listInterval' [ngValue]="list" >{{ list }}</option>
        </select>
        <app-control-error [control]="form.controls.startTargetAudienceAge"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="endTargetAudienceAge">Até</label>
        <select id="endTargetAudienceAge" formControlName="endTargetAudienceAge" (change)="checkIntervalPublicTarget()">
          <option  *ngFor='let list of listInterval' [ngValue]="list" >{{ list }}</option>
        </select>
        <app-control-error [control]="form.controls.endTargetAudienceAge"></app-control-error>
        <div class="d-block invalid-feedback"
             *ngIf="form.value.startTargetAudienceAge > form.value.endTargetAudienceAge">
          Intervalor final menor que o intervalor inicial
        </div>
      </app-control-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-control-field>
        <label>Gênero</label>
        <select id="typeGenre" formControlName="typeGenre">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let gender of genderList"
                  [ngValue]="gender.id">
            {{ gender.name }}
          </option>
        </select>
        <app-control-error [control]="form.controls.typeGenre"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-6">
      <app-control-field>
        <label for="numberOfVacancies">Quantidade de Vagas</label>
        <select id="numberOfVacancies" formControlName="numberOfVacancies">
          <option [ngValue]="null">Selecione uma opção</option>
          <option *ngFor="let numberOfVac of numberOfVacanciesList; let i = index" [ngValue]="i">{{ i }}</option>
        </select>
        <app-control-error [control]="form.controls.numberOfVacancies"></app-control-error>
      </app-control-field>
    </div>
  </div>
  <app-button
    buttonType="submit"
    buttonClass="btn-dark"
    [buttonDisabled]="form.valid === false || formLoading === false || checkDateValidator === false || checkIntervalValidator === false"
    [buttonLoading]="formLoading">
    Adicionar
  </app-button>
</form>
