<h1 class="h4">Famílias</h1>
<app-release-family-list-search
  [listSearchData]="formDataModel.search"
  (listSearchChange)="handleListSearchChange($event)">
</app-release-family-list-search>
<app-release-family-list
  [list]="list"
  (listSearchChange)="handleListSearchChange($event)"
  (listOrderChange)="handleListOrderChange($event)"
  (listItemSelected)="onChangeListSelected($event)"
>
</app-release-family-list>
<app-list-pagination
  [page]="formDataModel.page"
  [pageSize]="formDataModel.pageSize"
  [listSize]="listSize"
  [listSizeFiltered]="listSizeFiltered"
  (pageChange)="handleListPageChange($event)">
</app-list-pagination>

