<form [formGroup]="listSearchForm">
  <div class="row">
    <div class="col-lg-3">
      <app-control-field>
        <label for="number">Número do cadastro</label>
        <input type="tel" id="number" formControlName="number">
        <app-control-error [control]="listSearchForm.controls.number"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-3">
      <app-control-field>
        <label for="name">Nome do titular</label>
        <input type="text" id="name" formControlName="name">
        <app-control-error [control]="listSearchForm.controls.name"></app-control-error>
      </app-control-field>
    </div>
    <div class="col-lg-3">
      <app-control-field>
        <label for="holderCpf">CPF do titular</label>
        <input type="tel" id="holderCpf" formControlName="holderCpf">
        <app-control-error [control]="listSearchForm.controls.holderCpf"></app-control-error>
      </app-control-field>
    </div>
  </div>
</form>
