<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th sortable="title" (sort)="handleSort($event)">Título do questionário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)">
          </app-control-checkbox>
        </td>
        <td>{{ item.title || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>