<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="options?.select"></th>
        <th sortable="name" (sort)="handleSort($event)">Nome</th>
        <th sortable="email" (sort)="handleSort($event)">E-mail</th>
        <th>Ativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td *ngIf="options?.select">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'select-' + item.id"
              [checked]="isChecked(item)"
              (change)="listItemSelected.emit(item)">
            <label
              class="custom-control-label"
              [for]="'select-' + item.id">
            </label>
          </div>
        </td>
        <td>{{ item.fullName || '-' }}</td>
        <td>{{ item.email || '-' }}</td>
        <td>
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'blocked-' + item.id"
              [value]="item.id"
              [checked]="item.blocked === false"
              [disabled]="options?.blockUnblock === false"
              (click)="handleBlockUnblock($event)">
            <label
              [for]="'blocked-' + item.id"
              class="custom-control-label">
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>